.App {
  text-align: center;
  background-color: #254476;
}
label {
  margin-right: 5px;
  font-weight: bold;
}

input[type="number"] {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#Simulador {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

#Home {
  color: white;
  height: 100%;
}